.hero {
  .section-inner {
    padding-top: $hero--padding-t__mobile;
    padding-bottom: $hero--padding-b__mobile;
  }
}

.hero-inner {
  // Affects only hero full
  > .hero-content + .hero-figure,
  > .hero-figure + .hero-content {
    margin-top: $hero--inner-padding-v_mobile;
  }

  > .hero-figure {
    > a {
      display: inline-flex;
      // prevents stretching
      align-items: center;
      vertical-align: top;
    }
  }
}

@include media("<=medium") {
  .hero {
    .split-wrap {
      .split-item {
        .split-item-content {
          margin-bottom: $hero--inner-padding-v_mobile;
        }
      }

      &.invert-mobile {
        .split-item {
          .split-item-image {
            margin-bottom: $hero--inner-padding-v_mobile;
          }
        }
      }
    }
  }
}

@include media(">medium") {
  .hero {
    .section-inner {
      padding-top: $hero--padding-t__desktop;
      padding-bottom: $hero--padding-b__desktop;
    }
  }

  .hero-inner {
    // Affects only hero full
    > .hero-content + .hero-figure,
    > .hero-figure + .hero-content {
      margin-top: $hero--inner-padding-v_desktop;
    }
  }
}

.melody-input {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  justify-content: space-between;

  .inputs {
    display: flex;
    flex-direction: column;
    .fitness-function-box {
      @include media("<=medium") {
        display: none;
      }
      margin-top: 5%;
      > h6 {
        font-size: 14px;
      }
    }
  }

  .evolutionary-specs {
    height: 500px;
    overflow: hidden;
    @include media("<=medium") {
      width: 100%;
    }
    width: 50%;
    .evolutionary-box {
      height: 60%;
      width: 100%;
      // margin-left: 10%;
      .spec-box {
        display: flex;
      }
    }
    #widget {
      margin: auto;
      text-align: center;
      #markerbounds {
        margin: auto;
        position: relative;
        border: 3px solid #2196f3;
        border-width: 0 0 3px 3px;
        height: 220px;
        width: 220px;
        margin: auto;
        background: url(../../../images/chaos_variety.png);
        background-size: contain;
      }

      #box {
        margin: auto;
        background-color: lightsteelblue;
        position: absolute;
      }

      #marker {
        position: relative;
        height: 15px;
        width: 15px;
        background-color: #2196f3;
        border-radius: 15px;
      }

      #coord {
        font-family: serif;
        font-size: 14px;
        margin: 0px;
      }
    }
    .evo-spec {
      > p {
        font-size: 14px;
        align-self: baseline;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10% 0 10%;
      height: 10%;
    }
    .radio-inputs {
      display: flex;
      flex-direction: column;
      align-content: flex-end;
      align-items: flex-start;
      margin-bottom: 20px;
      padding-left: 25%;
      .radio-input {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    > h4 {
      text-align: center;
      margin-bottom: 6px;
    }
    text-align: left;
    font-size: 14px;
  }

  .melody-specs {
    width: 45%;
    height: 500px;
    @include media("<=medium") {
      width: 0;
      display: none;
    }
    .melody-specs-list {
      overflow-y: scroll;
    }
    .melody-spec-box {
      display: flex;
      font-size: 16px;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      >h6 {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 2.2em;
    height: 1.1em;
    margin-right: 0.5em;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 0.9em;
    width: 0.9em;
    left: 0.1em;
    bottom: 0.1em;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(1.1em);
    -ms-transform: translateX(1.1em);
    transform: translateX(1.1em);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 1em;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.midi-player {
  display: flex;
  flex-direction: column;
  align-items: center; 
  .midi-piano-roll {
    background: white;
  }
  
  #myPianoRollVisualizer {

    width: 100%;
    margin-bottom: 50px;

    svg rect.note {
      fill: white;
      opacity: 0.8;
      stroke-width: 2;
    }

    svg rect.note.active {
      opacity: 0.6;
      stroke: #000;
      stroke-width: 2;
    }
  }
}
.loading-image{
  width: 10%;
}
